
body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    height: 800px;
    margin: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

table {
    width: 950px;
    border: solid black 2px;
    margin: auto;
    border-collapse: separate; 
    border-radius: 10px;        
    overflow: hidden;
}          
.nome{
    background-color: orange;
}

.Esporte {
    background-color: aqua;
}

.link {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}
.link a:hover {
    color: darkblue;
}
